@model IEnumerable<Diploma.Models.Contact>

<h1>Contacts</h1>

<table class="table">
    <thead>
        <tr>
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td>@contact.Address</td>
                <td>@contact.Phone</td>
                <td>@contact.Email</td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = contact.ID })
                        @Html.ActionLink("Delete", "Delete", new { id = contact.ID })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
