@model List<Service>

<h1>Services</h1>

@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Create New", "Create")
}

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                        @Html.ActionLink("Details", "Details", new { id = item.ID })
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>