@model List<Service>

<h1>Услуги</h1>

@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Create New", "Create")
}

@foreach (var item in Model)
{
    <div class="spoiler">
        <div class="spoiler-header">
            <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
        </div>
        <div class="spoiler-content" style="display: none;">
            <p>@Html.DisplayFor(modelItem => item.Description)</p>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                @Html.ActionLink("Details", "Details", new { id = item.ID })
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
           }
        </div>
    </div>
}

<style>
    .spoiler {
        margin-bottom: 10px;
    }

    .spoiler-header {
        cursor: pointer;
        background-color: #f0f0f0;
        padding: 10px;
    }

    .spoiler-content {
        background-color: #ffffff;
        padding: 10px;
    }
</style>

<script>
    $('.spoiler-header').click(function () {
        $(this).next('.spoiler-content').slideToggle();
    });
</script>
